<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">Ember Contacts</div>
    </div>
  </div>
</div>
<div class="container" id="main">
{{outlet}}
</div>
