<div class="span3">
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">All contacts</li>
      {{#each contact in arrangedContent}}
        {{view App.ShowContactInListView contentBinding="contact"}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="span9">
  {{outlet}}
</div>
