<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand">{{#linkTo "contactsIndex"}}Ember Contacts{{/linkTo}}</div>
      <div class="btn-group pull-right">
        {{#linkTo "addContact" class="btn"}}<i class="icon-plus-sign"></i> Add Contact{{/linkTo}}
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="main">
  <div class="row-fluid">
    {{outlet}}
  </div>
</div>
