@import "twitter/bootstrap";

#main {
  margin-top: 60px;
}

.contact-details {
  h2 img { margin-right: 15px; }

  dl.dl-horizontal {
    dt {
      width: 80px;
    }
    dd {
      margin-left: 95px;
    }
  }
}
