@import "twitter/bootstrap";

.navbar {
  .brand a {
    &:hover {
      text-decoration: none;
    }
  }
}

#main {
  margin-top: 60px;

  .contact-details {
    h2 img {
      margin-right: 15px;
      width: 80px;
      height: 80px;
    }

    dl.dl-horizontal {
      dt {
        width: 80px;
      }
      dd {
        margin-left: 95px;
      }
    }
  }
}
