.commands {
  a {
    margin-right: 5px;
  }
}

table {
  margin-bottom: 15px;

  th, td {
    text-align: left;
    padding: 2px 8px 2px 0;
  }

  input[type='text'] {
    width: 80px;
  }

  td.data {
    width: 300px;

    div.commands {
      float: right;
      margin-right: 20px;
    }
  }
}
